/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* reset CSS START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* reset CSS END */

/* common */
body {
    font-family: 'IBM Plex Sans KR', sans-serif;
    padding: 0 20px;
}

.container {
    padding: 105px 0 0;
}
.btn-common{
    font-family: 'IBM Plex Sans KR', sans-serif;
    border: none;
    background: #47a0ff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.btn-common:hover{
    background: #007BFF;
}

.txt-left{
    text-align: left !important;
}
.txt-right{
    text-align: right !important;
}
.txt-blue{
    color: #47a0ff !important;
}
.txt-gray{
    color: #666;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    vertical-align: middle;
}
.table-body .no-db{
    text-align: center;
    background: transparent;
    box-shadow: none;
}

/* loading */
.loading-wrap{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,.9);
    z-index: 9999;
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35px;
    height: 35px;
}
.loading > span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.loading > span.first{
    animation: ani01 3s infinite;
    background: #FF8259;
}
.loading > span.second{
    left: 100%;
    animation: ani02 3s infinite;
    background: #E64EB0;
}
.loading > span.third{
    top: 100%;
    left: 100%;
    animation: ani03 3s infinite;
    background: #A670FF;
}
.loading > span.forth{
    top: 100%;
    left: 0;
    animation: ani04 3s infinite;
    background: #5698F5;
}

@keyframes ani01{
    0%{top: 0;left: 0;}
    25%{top: 0;left: 100%;}
    50%{top: 100%;left: 100%;}
    75%{top: 100%;left: 0;}
    100%{top: 0;left: 0;}
}
@keyframes ani02{
    0%{top: 0;left: 100%;}
    25%{top: 100%;left: 100%;}
    50%{top: 100%;left: 0;}
    75%{top: 0;left: 0;}
    100%{top: 0;left: 100%;}
}
@keyframes ani03{
    0%{top: 100%;left: 100%;}
    25%{top: 100%;left: 0;}
    50%{top: 0;left: 0;}
    75%{top: 0;left: 100%;}
    100%{top: 100%;left: 100%;}
}
@keyframes ani04{
    0%{top: 100%;left: 0;}
    25%{top: 0;left: 0;}
    50%{top: 0;left: 100%;}
    75%{top: 100%;left: 100%;}
    100%{top: 100%;left: 0;}
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    background: #fff;
    z-index: 99;
}
.header-container {
    display:flex;
    padding: 26px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.item{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.item h1{
    width: 130px;
    padding: 0 0 10px;
    font-size: 24px;
    font-weight: 700;
}
.item .post-add{
    padding: 10px;
}
.item .post-add span{
    vertical-align: middle;
    color: #fff;
}

/* post add modal */
.modal-bg{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
    z-index: 999;
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    z-index:100;
}
.modal .input-wrap{
    position: relative;
}
.input-wrap .input-group {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px dashed #ddd;
}
.input-wrap .input-label {
    display: block;
    width: 95px;
    text-align: center;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 700;
    color: #333;
    border-right: 1px dashed #ddd;
    box-sizing: border-box;
}

.label-radio{
    margin-right: 10px;
}
.label-radio input[type="radio"] {
    display:none;
}
.label-radio span{
    display: inline-block;
    min-width: 25px;
    padding: 5px 15px;
    text-align: center;
    font-size: 14px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

/* radio button color */
input[name="postCd"] + span, input[name="afterCd"] + span{
    border-color: #007BFF;
    color: #007BFF;
}
input[name="postCd"] + span:hover, input[name="postCd"]:checked + span,
input[name="afterCd"] + span:hover, input[name="afterCd"]:checked + span{
    border-color: #007BFF;
    background-color: #007BFF;
    color: white;
}
input[name="postCd"][value="2"] + span, input[name="afterCd"][value="2"] + span{
    border-color: #FF4830;
    color: #FF4830;
}
input[name="postCd"][value="2"] + span:hover, input[name="postCd"][value="2"]:checked + span,
input[name="afterCd"][value="2"] + span:hover, input[name="afterCd"][value="2"]:checked + span{
    border-color: #FF4830;
    background-color: #FF4830;
    color: #fff;
}

input[name="postStatus"] + span{
    border-color: #c0cd3d;
    color: #c0cd3d;
}
input[name="postStatus"] + span:hover, input[name="postStatus"]:checked + span{
    border-color: #c0cd3d;
    background-color: #c0cd3d;
    color: white;
}
input[name="postStatus"][value="2"] + span{
    border-color: #35B867;
    color: #35B867;
}
input[name="postStatus"][value="2"] + span:hover, input[name="postStatus"][value="2"]:checked + span{
    border-color: #35B867;
    background-color: #35B867;
    color: #fff;
}
input[name="postStatus"][value="3"] + span{
    border-color: #007BFF;
    color: #007BFF;
}
input[name="postStatus"][value="3"] + span:hover, input[name="postStatus"][value="3"]:checked + span{
    border-color: #007BFF;
    background-color: #007BFF;
    color: #fff;
}

input[name="postCate"] + span, input[name="postAfter"] + span{
    border-color: #00acbd;
    color: #00acbd;
}
input[name="postCate"] + span:hover, input[name="postCate"]:checked + span,
input[name="postAfter"] + span:hover, input[name="postAfter"]:checked + span{
    border-color: #00acbd;
    background-color: #00acbd;
    color: #fff;
}
/**/

.label-text{
    width: calc(100% - 110px);
}
.label-text input[type="text"], .label-text textarea{
    width: calc(100% - 60px);
    border: 1px solid #aaa;
    border-radius: 3px;
    line-height: 18px;
    min-height: 22px;
    vertical-align: middle;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.label-text textarea{
    resize: none;
}
.label-text textarea:disabled{
    background: #eee;
}
.label-text input[type="text"]{
    width: calc(50% - 75px);
    min-width: 100px;
}
.label-text > span{
    margin: 0 0 0 5px;
    font-size: 12px;
}

.input-clear{
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .3s;
}
.input-clear.show{
    height: 200px;
    opacity: 1;
    overflow: visible;
}
.input-clear .label-text.selectbox{
    display: none;
}
.input-clear .label-text.selectbox.on{
    display: block;
}

.input-after{
    height: 0;
    overflow: hidden;
    transition: .3s;
}
.input-after.show{
    height: 150px;
    margin: 10px 0 0;
}

.modal-btn-wrap{
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
}
.modal-btn{
    min-width: 100px;
    padding: 10px 10px 8px;
    margin: 0 10px;
    line-height: 1;
}

/* ux-select custom */
.label-text .ux-select{
    width: calc(100% - 53px);
    border-color: #aaa;
    border-radius: 3px;
    box-sizing: border-box;
    --uxs-option-hover-bg-color: #e4effc !important;
    --uxs-option-select-bg-color: #e4effc !important;
}
.ux-select__title{
    font-size: 14px;
    color: #666;
}
.ux-select-group__title{
    font-size: 15px;
}
.ux-select-group__elem{
    font-size: 14px;
    color: #333;
}
.ux-select__body{
    border-color: var(--uxs-border-hover-color) !important;
    left: -1px;
}

/* list view */
.sidebar {
    position: fixed;
    top: 145px;
    text-align:center;
    font-size:15px;
    font-weight: 500;
    background: #fff;
    z-index: 9;
}
.sidebar .box{
    margin: 0 0 20px;
}
.box .box-text{
    display: block;
    min-width: 130px;
    padding: 10px 5px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 15px;
    line-height: 1;
    background-color: #f3f3f3;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 3px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s;
}
.box .box-text.active, .box .box-text:hover{
    transform: translateY(-10px);
    box-shadow: 0px 12px 5px rgba(0,0,0,.3);
}
.box .box-text .strong{
    display: block;
    margin: 12px 0 0;
    font-size: 26px;
    font-weight: 700;
}

.box.alert .box-text{
    background-color: #ff3131;
}
.box.inProg .box-text{
    background-color: #f9ffbe;
}
.box.delay .box-text{
    background-color: rgba(53,184,103,.8);
}

/* list table */
.table-wrap{
    width: calc(100% - 150px);
    padding: 0 0 20px;
    margin: 0 0 0 150px;
}

/* table col */
.col01{width:5%;min-width:70px;}
.col02{width:8%;min-width:102px;}
.col03{flex:1;}
.col04{width:8%;min-width:62px;}
.col05{width:8%;min-width:102px;}
.col06{width:8%;min-width:62px;}
.col07{width:10%;}
/**/

/* table cell common */
.post-table .table-head > li,
.post-table .table-body .list-wrap > p,
.post-table .table-body .list-wrap > div,
.post-table .table-body .memo > p{
    margin: 0 4px 0 0;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}
/**/

.post-table .table-head{
    display: flex;
    margin: 0 0 5px;
    align-items: center;
    background: #fff;
    position: sticky;
    top: 105px;
}
.post-table .table-head > li{
    padding: 10px;
    font-weight: 500;
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.post-table .table-head > li:last-of-type{
    margin: 0;
}
.post-table .table-body > ol > li{
    margin: 0 0 6px;
}
.post-table .table-body > ol > li:last-of-type{
    margin: 0;
}
.post-table .table-body .list-wrap{
    display: flex;
}
.post-table .table-body .list-wrap > p, .post-table .table-body .list-wrap > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    line-height: 24px;
    background: #f5f5f5;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
.post-table .table-body .list-wrap > div{
    margin: 0;
}
.post-table .table-body .list-wrap > p.txt-left{
    justify-content: flex-start;
}
.post-table .table-body .list-wrap > p.status{
    cursor: pointer;
}
.post-table .table-body .list-wrap > p.status.active{
    background: #f9ffbe;
}

.post-table .table-body .memo{
    display: flex;
    align-items: flex-start;
    padding: 4px 0 0 15%;
}
.post-table .table-body .memo > p{
    padding: 6px 10px 0;
    line-height: 18px;
}
.post-table .table-body .memo > p.arrow{
    padding-top: 2px;
}
.post-table .table-body .memo .material-symbols-outlined{
    font-size: 20px;
}
.post-table .table-body .memo > p > span{
    display: inline-block;
    vertical-align: top;
}
.post-table .table-body .memo > p .memo-cntns{
    max-width: calc(100% - 190px);
    white-space: pre-line;
}
.emergency .title{
    color:#ea0d0d;
    font-weight: 500;
}
.emergency .title .material-symbols-outlined {
    font-size: 20px !important;
}

/* add delete button */
.btn-etc{
    cursor: pointer;
    transition: .3s;
}
.btn-etc:first-of-type{
    margin: 0 5px 0 0;
}
.btn-etc.btn-addmemo:hover{
    color: #007BFF;
}
.btn-etc.btn-delete:hover{
    color: #ff3131;
}
.btn-delete-memo{
    padding: 3px 5px 1px;
    margin: 0 0 0 10px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 500;
    line-height: 1;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f5f5f5;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}
.post-table .table-body .memo:hover .btn-delete-memo{
    opacity: 1;
    visibility: visible;
}

/* responsive view */
@media screen and (max-width:1024px) {
    .container{
        display: block;
        padding: 210px 0 0;
    }
    .sidebar{
        position: fixed;
        top: 100px;
        left: 20px;
        right: 20px;
        display: flex;
        margin: 0;
        padding: 16px 0 20px;
        justify-content: center;
        border-bottom: 1px solid #ddd;
    }
    .sidebar .box{
        margin: 0 20px 0 0;
    }
    .sidebar .box:last-of-type{
        margin: 0;
    }
    .item h1{
        width: auto;
    }
    .item:last-of-type{
        width: 88px;
        text-align: right;
    }

    .table-wrap{
        width: 100%;
        margin: 0;
    }

    .post-table .table-head{
        top: 210px;
    }
    .post-table .table-head > li,
    .post-table .table-body .list-wrap > p,
    .post-table .table-body .list-wrap > div,
    .post-table .table-body .memo > p{
        font-size: 13px;
    }
    .post-table .table-body .list-wrap > p, .post-table .table-body .list-wrap > div{
        line-height: 20px;
    }
    .post-table .table-body .memo{
        padding: 3px 0 0 145px;
    }
    .material-symbols-outlined{
        font-size: 20px !important;
    }
    .btn-etc:first-of-type{
        margin: 0 2px 0 0;
    }
}
@media screen and (max-width:640px) {
    .container{
        padding: 280px 0 0;
    }

    .header-container{
        display: block;
        height: auto;
        padding: 10px 0;
        position: relative;
    }
    .header-container .item{
        display: flex;
        width: calc(100% - 60px);
        text-align: left;
        align-items: center;
    }
    .header-container .item:first-of-type{
        margin: 0 0 10px;
    }
    .header-container .item:last-of-type{
        position: absolute;
        width: auto;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .header-container .item h1{
        text-align: left;
        padding: 0;
        font-size: 20px;
    }
    .header-container .item h2{
        margin: 0 0 0 10px;
        font-size: 16px;
    }
    .header-container .item > p{
        font-size: 16px;
        word-break: keep-all;
    }

    .sidebar{
        top: 67px;
        padding: 15px 0;
        flex-wrap: wrap;
    }
    .sidebar .box{
        width: 50%;
        margin: 0 0 20px;
    }
    .sidebar .box:nth-of-type(n+3){
        margin: 0;
    }
    .box .box-text{
        margin: 0 auto;
    }

    .table-wrap{
        overflow-x: auto;
    }
    .col05{
        display: none !important;
    }
    .post-table .table-head{
        display: none;
        position: relative !important;
        top: auto !important;
    }
    .post-table .table-body .list-wrap{
        padding: 0 4px;
        flex-wrap: wrap;
        background: #f5f5f5;
        border-radius: 5px;
        box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
        position: relative;
    }
    .post-table .table-body .list-wrap > p.title{
        width: calc(100% - 62px);
        flex: auto;
        font-weight: 500;
    }
    .post-table .table-body .list-wrap > p, .post-table .table-body .list-wrap > div{
        justify-content: left;
        background: none;
        box-shadow: none;
    }
    .post-table .table-body .list-wrap > div.col07{
        position: absolute;
        top: 0;
        right: 4px;
        min-width: 62px;
    }
    .post-table .table-body .list-wrap > p.status{
        background: #ddd;
        border: 1px solid #ccc;
        justify-content: center;
        box-shadow: 0 1px 4px rgba(0,0,0,.2);
    }
    .post-table .table-body .list-wrap > p,
    .post-table .table-body .list-wrap > div,
    .post-table .table-body .memo > p{
        margin: 0
    }
    .post-table .table-body .memo{
        padding: 3px 0 0;
    }
    .post-table .table-body .memo > p.arrow{
        min-width: 30px;
        padding: 2px 0 0;
    }
}
@media screen and (max-width:480px) {
    .header-container .item > p{
        font-size: 12px;

    }
    .post-table .table-body .memo > p > span{
        display: inline;
    }
    .post-table .table-body .memo > p.col03{
        padding: 6px 30px 0 0;
        position: relative;
    }
    .btn-delete-memo{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
@media screen and (max-height:480px){
    .header-container{
        padding: 10px 0;
    }

}
@media screen and (min-width:1025px) and (max-height:480px) {
    .container{
        padding: 72px 0 0;
    }
    .sidebar{
        top: 120px;
    }
    .post-table .table-head{
        top: 72px;
    }
    
}
@media screen and (min-width:641px) and (max-width:1024px) and (max-height:480px) {
    .container{
        padding: 180px 0 0;
    }
    .sidebar{
        top: 72px;
    }
    .post-table .table-head{
        top: 180px;
    }
}
